<body>

  <% if (currentUser) { %>
  <p>
     Hello, <%= currentUser.signupEmailReference %> !
  </p>
<% } %>

  <div class="body-container">


    <div class="begin-btn">
      Start
    </div>
  </div>
</body>
