<div class="body-container-clinic">
<% clinicSeed.forEach( oneClinic => { %>
  <ul>
  <div class="clinic-list-container comments-container">
    <div class="review-list">
      <li>
        <h3><%=oneClinic.locationName%></h3>
        <p class="zipCode"><%=oneClinic.zipCode%></p>
        <p class="description"><%=oneClinic.description%></p>
        <a href=<%=oneClinic.url%>>Website</a></a>
      </li>
    </div>
  </div>
  </ul>
<%});%>
</div>
