<div id="map"></div>

<div>
  <form id="form" action="" method="">
    <label for="zipCodeInput"> Enter Zipcode: </label>
    <input type="number" id="zipCodeInput" name="zipCodeReference" value="">
    <button>Submit</button>
  </form>
</div>
