<div id="map"></div>
<h2 class="review-container"><span>Write your</span><a class="review-link" href="/centers/review/new"> Reviews </a></h2>

<% reviews.forEach( oneReview => { %>
<ul>
  <li class="review-list">
    <div class="comments-container">
      <div class="review-text-box">
        <h3>Clinic Name: <%=oneReview.authorName%></h3>
        <p>Name: <%=oneReview.clinicName%></p>
        <div class="inner-review-text">
          <p>Review:
            <%=oneReview.content%>
          </p>
        </div>
      </div>
    </div>
  </li>
</ul>
<% }); %>
