<div id="map"></div>
<h2 class="review-container"><span>Write your</span><a class="review-link" href="/centers/review/new"> Reviews </a></h2>

<div class="comments-container">
  <div class="review-text-box">
    <h3>Clinic Name:</h3>
    <p>Name:</p>
    <div class="inner-review-text">
      <p>Review:</p>
    </div>
  </div>
</div>
