<body>
  <div class="body-container">
    <div class="free-container">
      <h4 class="free"> Register now for free!</h4>
      <div class="signup-btn-container">
        <p>
          <a href="/signup"> Sign Up </a>
        </p>
      </div>
      <div class="login signup-btn-container">
        <p>
          <a href="/login"> Log In </a>
        </p>
      </div>
    </div>
  </div>
</body>
