<body>

  <div class="modal fade signup" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel"> Sign Up </h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="control-label">Email:</label>
              <input type="email" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="passwordInput" class="control-label">Password:</label>
              <input type="text" class="form-control" id="passwordInput">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Sign Up</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade login" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel"> Sign Up </h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="control-label">Email:</label>
              <input type="email" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="passwordInput" class="control-label">Password:</label>
              <input type="text" class="form-control" id="passwordInput">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Log In</button>
        </div>
      </div>
    </div>
  </div>
  <%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>%>
<div class="body-container">
  <div class="free-container">
    <h4 class="free"> Register now for free!</h4>
    <div class="signup-btn-container">
      <p>
        <a href="/signup"> Sign Up </a>
      </p>
    </div>
    <div class="login signup-btn-container">
      <p>
        Log In
      </p>
    </div>
  </div>


</div>

</body>
