<body>
  <div class="body-container">
    <div class="free-container">
      <div class="signup-btn-container">
        <p>
          <a class="btn-links" href="/signup"> Sign Up </a>
        </p>
      </div>
      <div class="login signup-btn-container">
        <p>
          <a class="btn-links" href="/login"> Log In </a>
        </p>
      </div>
      <div class="login signup-btn-container">
        <p>
          <a class="btn-links"  href="/centers"> Map </a>
        </p>
      </div>
    </div>
  </div>
</body>
