<body>

<div class="body-container">
  <div class="free-container">
    <h4 class="free"> Register now for free!</h4>
    <div class="signup-btn-container">
      <p>
        Sign Up
      </p>
    </div>
    <div class="login signup-btn-container">
      <p>
        Log In
      </p>
    </div>
  </div>


</div>

</body>
