<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VitaHelp</title>

    <!-- Bootstrap 3-->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Template Styles -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style-template.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="header-text-wrap"><h1> VitaHelp </h1></div>
        <ul class="media-query-nav">
          <li><a href="/clinics"> Clinics </a></li>
          <li><a href="/"> Home </a></li>
        </ul>
        <div class="menu-icon-container">
          <i class="icon bar-icon ion-navicon"></i>
        </div>
        <% if (currentUser) { %>
          <a href="/logout"> Log Out </a>
          <a href="/edit"> Edit </a>
          <a href="/user-reviews/new"> Reviews </a>
          <% } %>
      </div>
    </nav>


    <div class="sub-navbar">
      <div class="wrapper">
      <ul>
        <li><a href="/"> Home </a></li>
        <li><a href="/"> Help </a></li>
        <li> <% if (currentUser) { %>

          <a href="/logout"> Log Out </a>
          <a href="/edit"> Edit </a>
        <% } %>
        </li>
      </ul>
      </div>
    </div>

    <%- body %>

    <%# <div class="footer-container">
      <footer>
        Made by: Alejandro Roman 2017©
      </footer>
    </div>%>


    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script
       async
       defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEJ9s6Ffx26aZTWxJniOwc0qX_HV4zHKQ">
   </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="./javescripts/jquery.js"></script>
    <script src="./javescripts/bootstrap.min.js"></script>
    <script src="./javescripts/animatescroll.js"></script>
    <script src="./javescripts/scripts.js"></script>
    <script src="./javescripts/retina.min.js"></script>
    <script src="./javascripts/script.js"></script>
  </body>
</html>
