<h2> Log In </h2>

<form id="form" action="/signup" method="post">
  <label for="loginEmailInput"> Email: </label>
  <input id="loginEmailInput" type="text" name="loginEmailReference" value="">
  <label for="loginPasswordInput"> Password: </label>
  <input id="loginPasswordInput" type="text" name="loginPasswordReference" value="">
  <button> Submit </button>
</form>
