<h2 class="login-header"> Log In </h2>
<% if (typeof errorMessage !== "undefined") { %>
  <p class="error-message">
    <%= errorMessage %>
  </p>
<%} %>

<form id="form" action="/login" method="post">
  <label for="loginEmailInput"> Email: </label>
  <input id="loginEmailInput" type="text" name="loginEmailReference" value="">
  <label for="loginPasswordInput"> Password: </label>
  <input id="loginPasswordInput" type="password" name="loginPasswordReference" value="">
  <button> Submit </button>
</form>

<div class="log-btn-container">
  <a class="login-btn log-one" href="/facebook/login"> Facebook </a>
  <br />
  <a class="login-btn" href="/google/login"> Google </a>
</div>
