<h2> Log In </h2>

<form id="form" action="/login" method="post">
  <label for="loginEmailInput"> Email: </label>
  <input id="loginEmailInput" type="text" name="loginEmailReference" value="">
  <label for="loginPasswordInput"> Password: </label>
  <input id="loginPasswordInput" type="text" name="loginPasswordReference" value="">
  <button> Submit </button>
</form>

<div class="log-btn-container">

    <a class="login-btn log-one" href="/facebook/login"> Facebook </a>

  <br />

    <a class="login-btn" href="/google/login"> Google </a>

</div>
