<body>
  <div class="body-container">
    <div class="form-container">
    <form id="ageGroups" class="ageGroup" action="" method="">
      <p> How old are you? </p>
      <input id="firstAgeInput" type="radio" name="portion_num" value="10-20" placeholder=""> 10-20
      <br />
      <input id="secondAgeInput" type="radio" name="portion_num" value="20-30" placeholder=""> 20-30
      <br />
      <input id="secondAgeInput" type="radio" name="portion_num" value="30-40" placeholder=""> 40-50
      <br />
    </form>
      <br />
    <form id="sunlight" class="ageGroup" action="" method="">
      <p> How much sunlight do you recieve on average each day? </p>
      <input id="firstSunlightGroup" type="radio" name="portion_num" value="" placeholder=""> < 1 hours
      <br />
      <input id="secondSunlightGroup" type="radio" name="portion_num" value="" placeholder=""> 1-2 hours
      <br />
      <input id="thirdSunlightGroup" type="radio" name="portion_num" value="" placeholder=""> 2-3 hours
      <br />
      <input id="fourthSunlightGroup" type="radio" name="portion_num" value="" placeholder=""> 3-4 hours
      <br />
    </form>
      <br />
    <form id="excerise" class="ageGroup" action="" method="">
      <p> How many times per week do you excersice? </p>
      <input id="firstExcersiceInput" type="radio" name="portion_num" value="10-20" placeholder=""> < 1 hours
      <br />
      <input id="secondExcersiceInput" type="radio" name="portion_num" value="20-30" placeholder=""> 1-2 hours
      <br />
      <input id="thirdExcerciseInput" type="radio" name="portion_num" value="30-40" placeholder=""> 3-4 hours
      <br />
      <input id="fourthExcerciseInput" type="radio" name="portion_num" value="30-40" placeholder=""> > 4 hours
      <br />
    </form>
  </div>
  </div>
</body>
