<body>

  <h2> <%= currentUser.signupEmailReference %></h2>
  <div class="body-container">
    <div class="form-container">
    <form method="post" action="/step-one/<%=currentUser._id%>" id="form" class="" enctype="multipart/form-data">
      <label for="profile-pic-input"> Upload your profile pic: </label>
      <input id="profile-pic-input" type="file" name="profilePictureUpload" />
      <label for="locationInput"> Where do you live? </label>
      <input type="text" name="locationForm" value="" id="locationInput" placeholder="e.g. Miami, Florida">
      <label for="firstNameInput"> First Name: </label>
      <input type="text" name="firstNameForm" value="" id="firstNameInput" placeholder="e.g. Alejandro">
      <label for="firstNameInput"> Last Name: </label>
      <input type="text" name="lastNameForm" value="" id="firstNameInput" placeholder="e.g. Roman">
      <label for="ageInput"> How old are you? </label>
      <input type="number" name="ageForm" value="" id="ageInput" placeholder="e.g. 27">
      <label for="additionalComments"> Addional comments: </label>
      <textarea id="addionalComments" name="additionalCommentReference" rows="5" cols="37"
       maxlength="140" placeholder="Please write any additional comments here..."></textarea>
      <button> Submit </button>
    </div>
  </form>
  </div>
  </div>
</body>
