<div class="">
  <div class="profile-pic-container">
    <img src="./images/IRNHCK-8383.jpg" class="profile-pic" alt="">
  </div>
  <div class="profile-text-container">
    <div class="profile-text">
      <h3> Alejandro Roman</h3>
      <p> Buddy </p>
      <p> Age: 27 years old</p>
      <p> Location: Miami, Florida</p>
    </div>
  </div>

  <div class="about-container">
    <div class="about-text">
      <p class="about-header"> About: </p>
    </div>
  </div>
</div>
