<div class="">
  <div class="profile-pic-container">
    <img src="./images/IRNHCK-8383.jpg" class="profile-pic" alt="">
  </div>
  <div class="profile-text-container">
    <div class="profile-text">

      <h3><%=currentUser.firstNameForm%> <%=currentUser.lastNameForm%></h3>
      <hr />
      <p> Buddy </p>
      <p> Age: <%=currentUser.ageForm%> years old</p>
      <p> Location: <%=currentUser.locationForm%></p>
    </div>
  </div>

  <div class="about-container">
    <div class="about-text">
      <p class="about-header"> About: </p>
      <hr />
      <p class="about-info">
        Foot vaccine seniors prevention health obesity dentistry paraplegic.
        Brain prescription clinic statistical data care quanitfied self.
        Intensive conditions plan.
       </p>
    </div>
  </div>
</div>
