<% if (typeof errorMessage !== "undefined") { %>
  <p class="error-message">
   <%= errorMessage %>
  </p>
<%} %>

<form id="form" action="/signup" method="post">
  <label for="signupEmailInput"> Email: </label>
  <input id="signupEmailInput" type="text" name="signupEmailReference" value="">
  <label for="signupPasswordInput"> Password: </label>
  <input id="signupPasswordInput" type="password" name="signupPasswordReference" value="">
  <button> Submit </button>
</form>

<div class="requirement-container">
  <div class="requirement-text">
    <ul>
      <li> Password must be atleast 12 characters long. </li>
      <li> Password must contain atleast one symbol (!,?,#,$) </li>
    </ul>
  </div>
</div>
