/*--- COLORS ---*/

/*
  peter river: rgb(52, 152, 219);
  orange: rgb(243, 156, 18);
  belize hole: rgb(41, 128, 185);
  thunder-bird: #D91E18;
*/

/*--------------*/



body {
  background-color: rgb(236, 240, 241);
  font-family: : 14px "Platform-Medium", Arial, Helvetica, Verdana, sans-serif;

}
.nav-container {
  /*border-bottom: 1px solid rgb(127, 140, 141);*/
  background-color: #fff;
  border-radius: 3px;
  width: 100%;
  height: 70px;
  font-family: Raleway;
  overflow: auto;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(127, 140, 141,0.5);
  margin: 0 auto;
}

.sub-navbar {
  width: 100%;
  height: 40px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(127, 140, 141,0.5);
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  visibility: hidden;
}

.sub-navbar li {
  list-style-type: none;
  float: right;
  margin-right: 15px;
  margin-top: 5px;
}

.sub-navbar a {
  text-decoration: none;
}

.media-query-nav {
  visibility: hidden;
}

.header-text-wrap {
  /*border: 1px solid;*/
  align-self: center;
  width: 150px;
  text-align: center;
  display: inline-block;
  margin: 0 0px 0 40px;

}

.header-text-wrap h1 {
  margin: 0 0 0 0;
}

footer {
  width: 98%;
  height: 100px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 5px;
  color: black;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 5px #888888;
}

.begin-btn {
  border: 3px solid rgb(243, 156, 18);
  border-radius: 5px;
  width: 120px;
  padding: 10px;
  background-color: rgb(243, 156, 18);
  color: #fff;
  font-size: 25px;
  text-align: center;
  align-self: center;
  box-shadow: 1px 1px 5px rgba(127, 140, 141,0.5);
}

.begin-link:link {
  color: white;
  text-decoration: none;
}

.begin-link:visited {
  color: white;
}

.menu-icon-container {
  display: block;
  width: 100%;
}

.bar-icon {
  font-size: 38px;
  font-weight: bold;
  color: black;
  float: right;
  margin-right: 40px;
}

.body-container {
  width: 95%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#map {
  height: 500px;
  width: 100%;
  margin-top: 50px;
}

.error-message {
  border: 4px solid #D91E18;
  width: 280px;
  height: 40px;
  margin: 10px auto;
  background-color: #D91E18;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-header {
  text-align: center;
}

.clinic-list-container {
  text-align: center;
  display: flex;
}

/*---------------*/
/*--- PROFILE ---*/
/*---------------*/

.profile-pic-container {
  width: 80%;
  height: 160px;
  margin: 10px auto;
  display: flex;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(127, 140, 141,0.5);
  border-radius: 5px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border: 4px solid #fff;
  border-radius: 50%;
  align-self: center;;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(127, 140, 141,0.5);
}

.profile-text-container {
  width: 80%;
  height: 160px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(127, 140, 141,0.5);
  border-radius: 5px;
}

.profile-text {
  text-align: center;
}

.profile-text h3 {
  margin-bottom: 5px;
  margin-top: 0;
  padding-top: 12px;
  font-family: lato;
}

.profile-text p {
  font-size: 16px;
  font-family: lato;
}

.about-container {
  width: 80%;
  height: 250px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(127, 140, 141,0.5);
  margin: 10px auto;
  border-radius: 5px;
}

.about-header {
  margin-left: 20px;
  padding-top: 20px;
  margin-bottom: 0;
}

hr {
  width: 90%;
  margin-top: 3px;;
}

.about-info {
  text-align: center;
  margin-top: 45px;
}


/*-------------*/
/*--- INDEX ---*/
/*-------------*/
.free-container {
  width: 50%;
  height: 50%;
  text-align: center;
  margin-top: 50px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(127, 140, 141,0.5);
}

.free {
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 200;
}

.signup-btn-container {
  border: 3px solid rgb(52, 152, 219);
  color: #fff;
  background-color: rgb(52, 152, 219);
  border-radius: 5px;
  height: 30px;
  width: 70%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 5px rgba(127, 140, 141,0.5);
}

.btn-links:link {
  color: white;
}
.btn-links:visited {
  color: white;
}

.signup-btn-container p {
  padding: 2px;
}

.signup-btn-container a:link,
.signup-btn-container a:visited {
  text-decoration: none;
}

.login {
  margin-top: 30px;
}

.review-link:link {
  text-decoration: none;
}

.review-container {
  margin-left: 10px;
}

.clinic-link {
  margin-left: 12px;
  font-size: 17px;
}

.delete-btn {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: .3s ease background;
  width: 60px;

}

/*------------*/
/*--- FORM ---*/
/*------------*/
#ageGroups {
  text-align: center;
}

.form-container {
  margin-top: 20px;
}

.ageGroup {
  color: rgb(41, 128, 185);
}

.ageGroup p {
  font-size: 17px;
  font-weight: bold;
}

#sunlight,
#excerise {
  text-align: center;
  width: 190px;
}

#form {
  margin: 30px auto;
  width: 280px;
}

.radioVisit {
  display: flex;
  flex-direction: row-reverse;
}

#form label {
  color: #666;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 2px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
}



#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
  margin-top: 15px;
}

#form button:hover,
.login-btn:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
  text-decoration: none;
}

.log-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.login-btn {
  width: 150px;
  text-align: center;
  margin: 0 auto;
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;

}

.comments-container {
  width: 80%;
  height: 250px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(127, 140, 141,0.5);
  margin: 10px auto;
}

.review-text-box {
  padding: 2px 0 0 10px;
}

.inner-review-text {
  border: 1px solid rgba(127, 140, 141,0.3);
  border-radius: 5px;
  padding: 0;
  margin-right: 13px;
  height: 150px;
}

.inner-review-text p {
  padding-left: 6px;
}

.review-list {
  list-style-type: none;
}

.requirement-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .menu-icon-container {
    visibility: hidden;
  }

  .nav-container {
    display: flex;
  }


  .media-query-nav {
    list-style-type: none;
    visibility: visible;
    margin-bottom: 0;
    text-align: center;
    padding: 0;
  }

  .nav-container ul {
    display: block;
    width: 100%;
  }

  .media-query-nav li,
  .media-query-nav a  {
    text-decoration: none;
    width: 150px;
    float: right;
  }

  .menu-icon-container,
  .bar-icon {
    width: 0;

    padding: 0;
  }

  .signup-btn-container {
    width: 150px;
  }

  .free {
    margin-top: 30px;
  }

  .profile-pic-container,
  .about-container {
    margin: 4px auto;
  }

  .about-header {
    margin-left: 60px;
    font-size: 18px;
  }

  .about-info {
    font-size: 18px;
  }

  .profile-text p {
    font-size: 18px;
  }

  .profile-text h3 {
    margin-bottom: 2px;

  }

  hr {
    margin-bottom: 4px;
  }

  #map {
    margin-top: 2px;
  }

  .log-btn-container {
    width: 30%;
  }

  .calendly-container {
    float: right;
  }

}
