/*--- COLORS ---*/
/*
  peter river: rgb(52, 152, 219);
*/
/*--------------*/

body {
  background-color: #fff;
}
.nav-container {
  border-bottom: 1px solid rgb(127, 140, 141);
  background-color: rgb(236, 240, 241);
  border-radius: 5px;
  width: 95%;
  height: 70px;
  font-family: Raleway;
  overflow: auto;
  display: flex;
  align-items: center;
  /*position: fixed;*/
  box-shadow: 3px 3px 10px #888888;
  margin: 0 auto;
}

.header-text-wrap {
  /*border: 1px solid;*/
  align-self: center;
  width: 15%;
  text-align: center;
  display: inline-block;
  margin: 0 0px 0 40px;

}

.header-text-wrap h1 {
  margin: 0 0 0 0;
}

footer {
  width: 95%;
  height: 100px;
  background-color: rgb(127, 140, 141);
  margin: 0 auto;
  border-radius: 5px;
}

@media only screen and (max-width: 480px) {

  .menu-btn a:link,
  .menu-btn a:visited {
    text-decoration: none;
  }

  .menu-icon-container {
    margin-top: 5px;
    margin-left: 220px;
    display: flex;
    align-items: center;
  }

  .bar-icon {
    font-size: 40px;
    font-weight: bold;
    color: rgb(52, 152, 219);
  }
  .body-container {
    width: 95%;
    height: 500px;
    margin: 0 auto;
    /*border: 1px solid;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
/*--------------*/
/*--- INDEX ---*/
/*--------------*/
  .free-container {
    width: 40%;
    height: 55%;
    text-align: center;
    margin-top: 50px;
  }

  .free {
    margin-bottom: 50px;
  }

  .signup-btn-container {
    border: 3px solid rgb(52, 152, 219);
    color: rgb(52, 152, 219);
    border-radius: 20px;
    height: 30px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .signup-btn-container p {
    padding: 2px;
  }

  .login {
    margin-top: 30px;
  }

}
