/*--- COLORS ---*/
/*
  peter river: rgb(52, 152, 219);
  orange: rgb(243, 156, 18);
  belize hole: rgb(41, 128, 185);
*/
/*--------------*/

body {
  background-color: rgb(236, 240, 241);
}
.nav-container {
  border-bottom: 1px solid rgb(127, 140, 141);
  background-color: #fff;
  border-radius: 5px;
  width: 98%;
  height: 70px;
  font-family: Raleway;
  overflow: auto;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 9px #888888;
  margin: 0 auto;
}

.header-text-wrap {
  /*border: 1px solid;*/
  align-self: center;
  width: 15%;
  text-align: center;
  display: inline-block;
  margin: 0 0px 0 40px;

}

.header-text-wrap h1 {
  margin: 0 0 0 0;
}

footer {
  width: 98%;
  height: 100px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 5px;
  color: black;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.begin-btn {
  border: 3px solid rgb(243, 156, 18);
  border-radius: 35px;
  width: 120px;
  padding: 10px;
  background-color: rgb(243, 156, 18);
  color: #fff;
  font-size: 25px;
  text-align: center;
  align-self: center;
}

@media only screen and (max-width: 480px) {

  .menu-btn a:link,
  .menu-btn a:visited {
    text-decoration: none;
  }

  .menu-icon-container {
    margin-top: 5px;
    margin-left: 220px;
    display: flex;
    align-items: center;
  }

  .bar-icon {
    font-size: 40px;
    font-weight: bold;
    color: rgb(52, 152, 219);
  }

  .body-container {
    width: 95%;
    height: 500px;
    margin: 0 auto;
    /*border: 1px solid;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
/*-------------*/
/*--- INDEX ---*/
/*-------------*/
  .free-container {
    width: 50%;
    height: 55%;
    text-align: center;
    margin-top: 50px;
  }

  .free {
    margin-bottom: 50px;
    font-size: 30px;
  }

  .signup-btn-container {
    border: 3px solid rgb(52, 152, 219);
    color: rgb(52, 152, 219);
    border-radius: 20px;
    height: 30px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .signup-btn-container p {
    padding: 2px;
  }

  .login {
    margin-top: 30px;
  }

  /*------------*/
  /*--- FORM ---*/
  /*------------*/
  #ageGroups {
    text-align: center;
  }

  .form-container {
    margin-top: 20px;
  }

  .ageGroup {
    color: rgb(41, 128, 185);
  }

  .ageGroup p {
    font-size: 17px;
    font-weight: bold;
  }

  #sunlight,
  #excerise {
    text-align: center;
    width: 190px;
  }
}
