<form id="form" action="/user-reviews/<%=userReview._id%>" method="post">
  <label for="review-author-name"> Author's name: </label>
  <input type="text" id="review-author-name" name="reviewAuthorName" value="">
  <br />
  <label for="review-clinic-name">Clinic name: </label>
  <input id="review-clinic-name" name="reviewClinicName"/>
  <br />
  <label for="review-content"> Write your message here: </label>
  <textarea id="review-content" name="reviewContent" rows="5" cols="37"></textarea>
  <button> Submit </button>
</form>
